APP_NAME="MINI-RAG"
VERSION="0.1"
OPENAI_API_KEY="" # You must put in double quotes your own open ai api key.

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512*1024 # 512KB

